<div class="container py-5 px-5 my-5 rounded">
    <h2>Profile Page</h2>
    <h1><%= @user.name %></h1>
    <h6><%= pluralize(@user.views, "views") %></h6>
    
    <p>Find me in app/views/users/profile.html.erb</p>
</div>

<style>
    .container{
        background: linear-gradient(to right bottom, lightblue, AliceBlue, Azure);
        box-shadow: 1px 1px 5px #333;
    }
    h1{color: darkcyan}
    h2{
        text-align:center;
        padding-bottom: 1rem;
    }
    h6{
        color: green;
        font-family: cursive;
        cursor: pointer;
    }
</style>
