<div class="container my-4 py-4 px-5 bg-light rounded">
    <h1><%= @user.name %></h1>
    <h6><%= pluralize(@user.views, "view")%></h6>
</div>

<style>
    .container {
        box-shadow: 1px 1px 5px #222;
    }
    h1{
        color: darkcyan;
    }
    h6 {
        color: green;
    }
</style>
