<p style="color: green"><%= notice %></p>
<div class="container bg-light rounded">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Posts</h1>
    <%= link_to "New post", new_post_path %>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-4 my-2 ">
      <div class="rounded p-2 px-3 text-light bg-secondary">
        <%= render post %>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
    </div>
    <% end %>
  </div>

</div>
