<div class="container my-5 py-4 px-5 rounded w-75"> 
    <h2>New post</h2>

    <%= render "form", post: @post %>

    <br>

    <div>
      <%= link_to "Back to posts", posts_path, class: "tugma btn btn-outline-primary  " %>
    </div>
</div>

<style>
  .container{
    box-shadow: 1px 1px 5px gray;
    color: darkcyan;
  }

  #submit{
    margin-top: 15px;
  }
  input, .tugma,  textarea{
    box-shadow: 1px 1px 5px gray;
    width: 90%;
    font-family: cursive;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: none
  }
  input, textarea{

  }
</style>