<div class="container cover my-4 py-4 px-5 bg-light rounded">
  <%= render @post %>

  <div>
    <%= link_to "Edit this post ðŸ“", edit_post_path(@post), class: "btn btn-outline-success my-1 py-1" %> |
    <%= link_to "Back to posts ðŸ”™", posts_path, class: "btn btn-outline-primary my-1 py-1" %>

    <%= button_to "Destroy this post ðŸ˜ ", @post, method: :delete, class: "btn btn-outline-danger my-1 py-1" %>
  </div>
</div>

<style>
  .cover {
      box-shadow: 1px 1px 5px #222;
  }
</style>
